<div class="signup-form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="signup-nav">
      <%= render "devise/shared/back" %>
      <h2>Log In</h2>
      <%= f.submit "Log in" %>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="input-fields">
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
      </div>
      <div class="devider"></div>
      <div class="field">
        <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
      </div>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="mem-login-links">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end %>
    <div class="login-links">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
